<h2 class="title">
  <%= @post.title %>
</h2>

<p class="date">
  Submitted <%= time_ago_in_words(@post.created_at) %> ago
  <%= link_to 'Edit Post', edit_post_path(@post) %>
</p>

<p class="thoughts">
  <%= @post.thoughts %>
</p><br />

<hr class="line">

<div class="comments">
  <h3 id="comment_count"><%= @post.comments.count %> comments</h3>
  <%= render @post.comments %>
</div>

<hr class="line">

<div class="comments">
  <h4 id="comment_form">Leave a Comment</h4>
  <%= render 'comments/form' %>
</div>

<%= link_to 'Back', posts_path %>
