<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'normalize' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="global_wrapper">
      <header class="main_nav">
        <p id="header_left">
          <%= link_to "Coding A Better Future", root_path, :id => "site_title" %><br />
          My life with Bud, Norwall and Cinnamon
        </p>
        <ul id="header_right">
          <li><%= link_to "About", about_path, :class => "links" %></li>
          <% if !user_signed_in? %>
            <li><%= link_to "Admin Login", new_user_session_path, :class => "links" %></li>
          <% end %>
          <% if user_signed_in? %>
            <li><%= link_to "Create a New Post", new_post_path, :class => "links" %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "links" %></li>
          <% end %>
        </ul>
      </header>
      <div class="content_wrapper">
        <%= yield %>
      </div>
      <footer>
        <p id="footer">Coding A Better Future is the property of Andrew Peterson | &copy; 2016 | All Rights Reserved</p>
      </footer>
    </div>
  </body>
</html>
